@model IEnumerable<SimonStore.Models.Product>
@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>
<div class="container">
    <div class="row">
        @foreach (SimonStore.Models.Product product in Model)
        {
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">@product.Name</div>
                    <div class="panel-body">
                        @if (@product.ProductImages.Any())
                        {
                            <img class="img-responsive pull-right" src="@product.ProductImages.First().ImageLocation" alt="@product.ProductImages.First().AlternateText" />
                        }
                        <span><strong>Price: </strong>@((product.Price ?? 0).ToString("c"))</span>
                        <p>@product.Description</p>

                        @Html.ActionLink("View Product", "Index", "Product", new { id = product.SKU }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>