@model SimonStore.Models.Order
@{
    ViewBag.Title = "Index";
}

<h2>Cart</h2>
@if(Model.OrderedProducts.Count() == 0)
{
    <div class="alert alert-warning">
        <p>Your cart is currently empty.</p>
        @Html.ActionLink("Go shopping", "Index", "Category", null, new { @class = "btn btn-primary"})
    </div>
}
else
{

    using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.OrderID)
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.OrderedProducts.Count(); i++)
            {
                <tr>
                    <td></td>
                    <td>@Model.OrderedProducts.ElementAt(i).Product.Name</td>
                    <td>@Model.OrderedProducts.ElementAt(i).Product.Description</td>
                    <td>@((Model.OrderedProducts.ElementAt(i).Product.Price ?? 0).ToString("c"))</td>
                    <td>
                        <input type="hidden" name="OrderedProducts[@i].SKU" value="@Model.OrderedProducts.ElementAt(i).SKU" />
                        <input type="number" name="OrderedProducts[@i].Quantity" value="@Model.OrderedProducts.ElementAt(i).Quantity" class = "form-control" />
                    </td>
                    @*the above line will render out <input type = "text" name = "model[0].quantity" class="form-control" />*@
                    <td>@(((Model.OrderedProducts.ElementAt(i).Product.Price ?? 0) * (Model.OrderedProducts.ElementAt(i).Quantity ?? 0)).ToString("c"))</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5"></td>
                <td>@Model.OrderedProducts.Sum(x => (x.Quantity ?? 0) * (x.ProductPrice ?? 0)).ToString("c")</td>
            </tr>
        </tfoot>
        
    </table>
    <input type="submit" value="Update Cart" class="btn btn-default" />
    @Html.ActionLink("Checkout", "Index", "Checkout", null, new { @class = "btn btn-primary" })
    }
}
