@model IEnumerable<SimonStore.Models.CartProductModel>
@{
    ViewBag.Title = "Index";
    decimal totalCost = 0m;
    foreach(var product in Model)
    {
        totalCost += (product.Price ?? 0) * product.Quantity;
    }
}

<h2>Cart</h2>
@if(Model.Count() == 0)
{
    <div class="alert alert-warning">
        <p>Your cart is currently empty.</p>
        @Html.ActionLink("Go shopping", "Index", "Category", null, new { @class = "btn btn-primary"})
    </div>
}
else
{
    using (Html.BeginForm())
    {
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td></td>
                    <td>@Model.ElementAt(i).Name</td>
                    <td>@Model.ElementAt(i).Description</td>
                    <td>@((Model.ElementAt(i).Price ?? 0).ToString("c"))</td>
                    <td>@Html.TextBoxFor(m => m.ElementAt(i).Quantity, new { @class = "form-control"})</td>
                    @*the above line will render out <input type = "text" name = "model[0].quantity" class="form-control" />*@
                    <td>@(((Model.ElementAt(i).Price ?? 0) * Model.ElementAt(i).Quantity).ToString("c"))</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5"></td>
                <td>@totalCost.ToString("c")</td>
            </tr>
        </tfoot>
        
    </table>
    <input type="submit" value="Update Cart" class="btn btn-default" />
    @Html.ActionLink("Checkout", "Index", "Checkout", null, new { @class = "btn btn-primary" })
    }
}
