@model SimonStore.Models.Product
@{
    ViewBag.Title = "Index";
}

<h2>@Model.Name</h2>
@if (@Model.ProductImages.Any())
{
    <img class="img-responsive" src="@Model.ProductImages.First().ImageLocation" alt="@Model.ProductImages.First().AlternateText" />
}
<span class="pull-right">@((Model.Price ?? 0m).ToString("c"))</span>


<p>@Model.Description</p>
@using (Html.BeginForm())
{
    @* using hidden form fields makes these properties part of the POST payload.
       ASP.Net MVC will automatically map these to the ProductModel parameter if I declare these correctly
    *@
    @Html.HiddenFor(x => x.SKU)
    @Html.HiddenFor(x => x.Name)
    @Html.HiddenFor(x => x.Description)
    @Html.HiddenFor(x => x.Price)
    <label for="quantity" class="control-label">Quantity</label>
    <select name="quantity" required class="form-control">
        <option></option>
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
    </select>

    <input type="submit" value="Add To Cart" class="btn btn-primary" />
}